.page{
    position: relative;
    width: 100%;
    padding: 100px 0 100px 0;
    overflow: hidden;
    min-height: 100vh;

    background-image: linear-gradient(180deg, #442A00 300px, #F08C00 900px, #F9B444, #F08C00, #442A00);
}

.nav{
    width: var(--wrap-size);
    margin: 0 auto;
    font-size: 20px;
    font-weight: bold;
}

.nav nav ul{
    gap: 60px;
}
