.screen {
    position: relative;
    padding: 100px 0 100px 0;
}

.wrap {
    position: relative;
    z-index: 3;
    width: var(--wrap-size);
    margin: 0 auto;
    padding: 100px 0 100px 0;
    display: grid;
    grid-template: 'img name' auto / 1fr 1fr;
    gap: 80px;
}

.cover{
    grid-area: img;
    justify-self: end;
    align-self: center;
    max-width: 380px;
    transform: rotate(-8deg);
}

.name{
    grid-area: name;
    align-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.title{
    margin: 0;
    padding: 0;
    font-size: 128px;
    font-family: var(--ap-title-font);
    font-weight: bold;
    color: var(--ap-color);
    line-height: 1em;text-transform: uppercase;
}

.buy{
    width: 400px;
    height: 90px;
    border-radius: 20px;
    background-color: var(--ap-color);
    color: #fff;
    font-size: 48px;
    font-family: var(--ap-main-font);
    font-weight: bold;
}
