.screen{
    position: relative;
    z-index: 2;
    margin-top: -110px;
}

.wrap {
    position: relative;
    width: var(--wrap-size);
    margin: 0 auto 0 auto;
    display: grid;
    grid-template: 'left right' auto / auto 1fr;
    gap: 0 110px;
}

.left {
    grid-area: left;
    position: relative;
    z-index: 2;
    padding: 220px 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.image-1 {
    position: absolute;
    top: 600px;
    left: 0;
    width: 120%;
    transform: rotate(17deg);
}

.right {
    grid-area: right;
    position: relative;
    z-index: 2;
    font-size: 28px;
    line-height: 1.3em;
}

.title {
    font-family: var(--title-font);
    font-size: 96px;
    margin: 0 0 60px 0;
}

.about {

}

.btn {
    width: 100%;
    height: 110px;
    width: 596px;
    background-color: #69615E;
    color: #fff;
    font-size: 48px;
    border-radius: 15px;
}

.image-2 {
    position: absolute;
    z-index: 1;
    width: 1424px;
    left: -900px;
    top: -208px;
}