@font-face {
    font-family: 'Rubik One';
    src: local("Rubik One"),
        local("Rubik One Regular"),
        local("RubikOne-Regular"),
        url('/src/assets/books/kerosine/RubikOne-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Handelson Six_CYR';
    src: local('Handelson Six_CYR'), 
        url('/src/assets/books/kerosine/handelsonsix_cyr_six.otf') format('opentype');
    font-weight: normal;
}

:root {
    --wrap-size: 1440px;
    --main-font: 'Rubik One', sans-serif;
    --title-font: 'Handelson Six_CYR';
}

body {
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: normal;
}