.wrap{
    position: relative;
    width: 100%;
    padding: 100px 0 100px 0;
    overflow: hidden;

    background-image: linear-gradient(180deg, #CDCDCD, #FFFFFF, #CDCDCD, #FFFFFF, #dedede 95%);
}

.nav_top{
    margin: 0 0 100px 0;
}

.nav_bottom{
    margin: 100px 0 0 0;
}
