.screen{
    position: relative;
    z-index: 3;
    margin: 100px 0 0 0;
}

.wrap{
    position: relative;
    display: grid;
    grid-template: 'img ct' auto / auto 1fr;
    gap: 60px;
    width: var(--wrap-size);
    margin: 0 auto 0 auto;
    padding: 80px;
    border-radius: 20px;
    background-color: #dedede;
}

.image{
    grid-area: img;
    align-self: center;
    width: 400px;
}

.right{
    grid-area: ct;
    align-self: center;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 14px;
    font-size: 28px;
    line-height: 1.3em;
    color: #69615E;
}

.info__row{
    display: flex;
    align-items: center;
    gap: 14px;
}

.info__title{

}

.info__value{

}

.buy__list{
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 40px 0 0 0;
}

.buy__list > a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120p;
    border-radius: 30px;
    overflow: hidden;
}

.buy__list > a > img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
