.wrap{
    position: relative;
    width: 100%;
}

.nav{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}

.items{
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-item{

}

.nav-item a{

}

.menuBtn{
    display: none;
    align-items: center;
    justify-content: center;
    padding: 3px;
}

@media screen and (max-width: 1024px) {
    .items{
        display: none;
    }

    .menuBtn{
        display: flex;
    }
}
