@font-face {
    font-family: 'Monrope';
    src: local('Monrope'),
        url('/src/assets/books/appleland/Manrope.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: local('Garamond'),
        url('/src/assets/books/appleland/Garamond\ -\ Garamond\ -\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: local('Garamond'),
        url('/src/assets/books/appleland/Garamond-Italic\ -\ Garamond\ -\ Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Garamond';
    src: local('Garamond'),
        url('/src/assets/books/appleland/Garamond-Bold\ -\ Garamond\ -\ Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Garamond';
    src: local('Garamond'),
        url('/src/assets/books/appleland/Garamond-BoldItalic-04.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Caveat';
    src: local('Caveat'),
        url('/src/assets/books/appleland/Caveat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AV Fontimer';
    src: local('AV Fontimer'),
        local('AVFontimer-Bold'),
        url('/src/assets/books/appleland/ofont.ru_AV\ Fontimer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --wrap-size: 1440px;
    --ap-main-font: 'Monrope', sans-serif;
    --ap-title-font: 'Garamond', sans-serif;
    --ap-fine-font: 'Caveat', sans-serif;
    --ap-color: #E9AA44;
}

body {
    font-family: var(--ap-main-font);
    font-size: 16px;
    font-weight: normal;
    background-color: #002032;
}

@media screen and (max-width: 1560px) {
    :root {
        --wrap-size: 1000px;
    }
}

@media screen and (max-width: 1200px) {
    :root {
        --wrap-size: calc(100% - 40px);
    }
}
